
@model List<Not>
@{
    ViewBag.Title = "Index";
}

<div class="container">

    <div class="row">

        <div class="col-md-3">
           @Html.Partial("_PartialPageKategoriler")
        </div>

        <div class="col-md-9">

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="~/image/_sunset.jpg"  alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="~/image/indir.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="~/image/_sunset.jpg" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

            </div>

            <div class="row">

                @foreach (var item in Model)
                {
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/image/deneme.jpg" alt="">
                            <div class="caption">
                                <h4>
                                    <a href="#">@item.Baslik</a>
                                </h4>
                                <h6 class="text-right">
                                    @item.Kullanici.KullaniciAdi<span class="glyphicon glyphicon-user"></span><br />
                                    @item.DegistirmeTarihi.ToString("dd.MM.yy HH:mm")<span class="glyphicon glyphicon-time"></span>
                                </h6>
                               
                                    @if (!string.IsNullOrEmpty(item.Text) && item.Text.Length > 100)
                                    {
                                 <p>  @item.Text.Substring(0, 100)
                                </p>
                                <p class="pull-right">
                                     <a href="#" class="btn btn-default btn-xs right"><span class="glyphicon glyphicon-chevron-right"></span>devamı</a>
                                 </p>
                                 }
                                    else
                                    {
                                     <p> @item.Text</p>
                                    }
                                
                            </div>
                            <div>
                                <hr />
                            </div>
                            <div class="ratings">
                                <p class="pull-right">
                                    <button class="btn btn-default btn-xs" 
                                    data-toggle="modal" data-target="#modal1" data-notid="@item.Id">
                                    <span class="glyphicon glyphicon-comment text-danger"></span>Yorumlar </button>
                                </p>
                                <p>
                                    <button class="btn btn-default btn-xs text-danger">
                                        <span class="glyphicon glyphicon-heart text-danger"></span>@item.BegeniSayisi
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                }




            </div>

        </div>

    </div>

</div>

@section footer{
    
    @Html.Partial("_PartialPageFooter")

    }


@BootstrapHelper.ModalPoppup("modal1","Yorumlar")

<script>

    var notid = -1;

    $(function () {
        $('#modal1').on('show.bs.modal', function (e) {

            var button = $(e.relatedTarget);
            notid = button.data("notid");

            $('#modal1_body').load("/Yorum/YorumGoster/"+notid);

        });
    });

    function yorumislem(btn,islem, yorumid, yorumtext)
    {
        var button = $(btn);
        var editmod = button.data("edit");

        if (islem === "update") {
            if (!editmod) {
                button.data("edit", true);
                button.removeClass("btn-warning");
                button.addClass("btn-success");
                var span = button.find("span");
                span.removeClass("glyphicon-edit");
                span.addClass("glyphicon-ok");

                $(yorumtext).attr("contenteditable", true);
                $(yorumtext).focus();

            }
            else {
                button.data("edit", false);
                button.removeClass("btn-success");
                button.addClass("btn-warning");
                var span = button.find("span");
                span.removeClass("glyphicon-ok");
                span.addClass("glyphicon-edit");

                $(yorumtext).attr("contenteditable", false);

                var yenitext = $(yorumtext).text();

                $.ajax({
                    method: "POST",
                    url: "/Yorum/Edit/" + yorumid,
                    data: { text: yenitext }
                }).done(function (data) {
                    if (data.sonuc)
                        //yorumlar yeniden yüklenir
                        $('#modal1_body').load("/Yorum/YorumGoster/" + notid);
                    else
                        alert("Yorum güncellenemedi");

                }).fail(function () {
                    alert("Sunucu ile bağlantı kurulamadı.");
                })

            }

        }
        else if (islem === "delete") {
            var mesaj = confirm("Yorum silinsin mi?");
            if (!mesaj)
                return false;

            $.ajax({
                method: "GET",
                url: "/Yorum/Delete/" + yorumid
            }).done(function (data) {
                if (data.sonuc)
                    //yorumlar yeniden yüklenir
                    $('#modal1_body').load("/Yorum/YorumGoster/" + notid);
                else
                    alert("Yorum silinemedi");
            }).fail(function () {
                alert("Sunucu ile bağlantı kurulamadı.");
            });

        }
        else if (islem === "create")
        {
            var yorum = $("#yorum_text").val();

            $.ajax({
                method: "Post",
                url: "/Yorum/Create",
                data: { Text: yorum, notid: notid }
            }).done(function (data) {
                if (data.sonuc)
                    //yorumlar yeniden yüklenir
                    $('#modal1_body').load("/Yorum/YorumGoster/" + notid);
                else
                    alert("Yorum eklenemedi");
            }).fail(function () {
                alert("Sunucu ile bağlantı kurulamadı.");
            });
        }

    }
</script>